.wraper{
    div{
        border: 1px solid orange;
        margin: 5px 5px;
    }
    button{
        background-color: rgb(34, 34, 145);
        padding: 8px 16px;
        border-radius: 5px;
        box-shadow: 5px orange;
    }
}